body{
    margin: 50px;
    padding: 0;
    font-family: sans-serif;
    background: rgb(35, 55, 78);
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box{
	height: 80vh;
  width: 80vw;
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgb(240, 240, 241);
  border-radius: 20px;
  border-style: solid;
  border-width: 7px;
  border-color: grey;
  color: black;
	line-height:1.6;
}

h1{
    font-size: 30px;
}

.groupPic{
	vertical-align:center;
	width: 50vw;
	height: 50vh;
	border:0;
}

/* extra rules */

label {
	font-weight: bold;
	font-size:16px;
}


.slidecontainer {
	width: 100%; /* Width of the outside container */
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;  
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 80px;
	height: 80px;
	border: 0;
	background: url("https://img.icons8.com/clouds/80/000000/walking.png");
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 80px;
	height: 80px;
	border: 0;
	background: url("https://img.icons8.com/clouds/80/000000/walking.png");
	cursor: pointer;
  }

  .cliff-pic{
	/* width: 1050px;
	height: 500px;
    border:0; */
    max-width: 100%;
    max-height: 100%;
  }

  .card-text{
	  font-size: 14pt;
	  color: red; 
  }

.option{
    position: relative;
    top: 1em;
    transition: transform 0.2s; /* Animation */
    margin: 0 auto;
}

.option input[type="submit"]:hover {
   transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    cursor: pointer;
}

.option .Next{
    text-align: center;
    background-color:  rgb(42, 151, 42);
    width: 100px;
    height: 30px;
    border-radius: 20px;
    float: right;
    float: bottom;
}

.option .Back{
    text-align: center;
    background-color:red;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    float: Left;
}

.option .Answer_Later{
    text-align: center;
    background-color: grey;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    float: Center;
}

.career-image{
    max-width: 100%;
    max-height: 100%;

}

.result-title{
    color: rgb(27, 75, 163);
}
