<div class ='box'>
    <div class = "container-lg">
        <div class="row row-col-3">
            <div class="col">
            <h1 class="result-title">Results:</h1>
            <h2>Leader</h2> 
            <p>Decision Makers (leaders) are positive, motivated, communicators capable of leading a team or group to successful completion of its tasks in the workplace.  They excel at keeping a group focused on the task at hand, and of resolving group conflicts as they arise.  Decision Makers possess the traits of a leader, and are well suited for roles that enable them to take the lead in a group or on a team. </p>
            </div>
        </div> 
        <div class="row row-col-2">
                <div class = "col-4">
                    <h2 class="result-title">Suitable career:</h2>
                    <h2>Administrative Supervisor</h2> 
                    <img class ="career-image" src ="/public/pictures/as.PNG" alt = "adminstrative-supervisor img">
                </div>
                <div class = "col-8">
                    <p>Administrative Supervisors are responsible for the overall administrative functions of their organization and often oversee the support of executives, as well. They supervise administrative staff, office managers and staff assistants, offering guidance and training while delegating work tasks and running payroll. Their job is to ensure that day-to-day operations of their organization run smoothly.

    Administrative Supervisors are in supervisory positions typically above all administrative and assistant staff. They work in a wide variety of industries for any company with a sizable administrative staff. According to the Bureau of Labor Statistics, the field is expecting average growth of about 8 percent through 2024.</p>
                </div>
        </div>
        <br />
        <br /> 
        <div class="row row-col-2">
                <div class = "col-4">
                    <h2>Apply Now</h2>      
                </div>
                <div class = "col-8">
                    <a href ="https://www.indeed.com/jobs?q=Administrative+Supervisor&l=">Indeed</a> 
                    <br />
                    <a href = "https://www.monster.com/jobs/search/?q=Administrative-Supervisor&intcid=skr_navigation_nhpso_searchMain">Monster</a>
                    <br />
                    <a href = "https://www.linkedin.com/jobs/Administrative-Supervisor-jobs"/>LinkedIn</a>
                </div>
        </div>
    </div>
</div>
