<div class ='box'>
  <div class = "container-lg">
    <div class="row row-col-3">
        <div class="col">
        <h1 class="result-title">Results:</h1>
        <h2>Individualist</h2> 
        <p>Individualists prioritize focused, independent work over large group collaboration sessions.  They prefer traditional, personal office spaces rather than open office layouts.  Individualists are well suited for workplaces that offer a private, quiet work environment that enable them to take on tasks independently.</p>
        </div>
    </div> 
        <div class="row row-col-2">
            <div class = "col-4">
                <h2 class="result-title">Suitable career:</h2>
                <h2>Graphic Designer</h2> 
                <img class ="career-image" src ="/public/pictures/gd.png" alt = "Graphic Designer img">
            </div>
            <div class = "col-8">
                <p>Graphic designers are great for individualists because almost all of their work is done independently. Graphic designers use their artistic abilities to communicate ideas, inform consumers, and solve problems. From the layout of a website to large images seen on billboards, graphic designers create visual concepts by hand or by computer to help others interpret the world around them through color, texture, images, and symbols. Graphic designers can be found in many industries and may be responsible for all aspects of a company's design process, or they might specialize in a particular field such as advertising, digital design, illustration, or branding. Some work independently as freelancers, while others are part of a design studio, a creative agency, or a corporate company.
                    Most graphic design positions require at least a Bachelor's degree in graphic design or a related field. However, graphic designers need creativity first and foremost, as well as knowledge of the industry's standard software.</p>
            </div>
        </div>
        <br />
        <br /> 
        <div class="row row-col-2">
                <div class = "col-4">
                    <h2>Apply Now</h2>      
                </div>
                <div class = "col-8">
                    <a href ="https://www.indeed.com/jobs?q=Graphic+Designer&l=">Indeed</a> 
                    <br />
                    <a href = "https://www.monster.com/jobs/search/?q=Graphic-Designer&intcid=skr_navigation_nhpso_searchMain">Monster</a>
                    <br />
                    <a href = "https://www.linkedin.com/jobs/Graphic-Designer-jobs"/>LinkedIn</a>
                </div>
        </div>
    </div>  
</div>
