<div class ='box'>
    <div class = "container-lg">
        <div class="row row-col-3">
            <div class="col">
            <h1 class="result-title">Results:</h1>
            <h2> Risk Taker</h2> 
            <p>Risk takers yearn to learn new skills and evolve their existing ones.  Their embracing of risk-taking culture enables them to overcome fear of failure, and achieve outcomes not available to their more cautious colleagues.  They are confident in the decisions they make, and are well-suited for roles requiring decision making in stressful situations.</p>
            </div>
        </div> 
        <div class="row row-col-2">
                <div class = "col-4">
                    <h2 class="result-title">Suitable career: </h2>
                    <h2>Investment Banker </h2>
                    <img class ="career-image" src ="/public/pictures/investor.PNG" alt = "investor img">
                </div>
                <div class = "col-8">
                    <p>Investment banking makes for an exciting career choice for ambitious young men and women, who are able to cope with unusually long hours, and, are willing to constantly learn and exert themselves. It is a high risk, high reward career that demands a high degree of commitment, and a herculean ability to juggle your work-life balance.
                        As an Investment Banker you will use various type of financial models to evaluate companies and assist clients in raising capital. You will facilitate mergers and acquisitions and develop recommendations for product offerings along with private equity transactions. You will perform due diligence research and analysis of financial transactions and create presentations for client portfolios.
                        You could be the ideal candidate if you have a bachelor's degree in finance or economics and are a Certified Financial Adviser with Series 7 and 66 licenses. A minimum of 3 years of experience as an investment banker or underwriter is necessary as is a knowledge of market trends and securities regulations and .
                    </p>
                </div>
        </div>
        <br />
        <br /> 
        <div class="row row-col-2">
                <div class = "col-4">
                    <h2>Apply Now</h2>      
                </div>
                <div class = "col-8">
                    <a href ="https://www.indeed.com/jobs?q=investment+banking&l=">Indeed</a> 
                    <br />
                    <a href = "https://www.monster.com/jobs/search/?q=investment-banking&intcid=skr_navigation_nhpso_searchMain">Monster</a>
                    <br />
                    <a href = "https://www.linkedin.com/jobs/investment-banking-jobs"/>LinkedIn</a>
                </div>
        </div>
    </div>
</div>
