<div class ='box'>
    <div class = "container-lg">
        <div class="row row-col-3">
            <div class="col">
            <h1 class="result-title">Results:</h1>
            <h2>Traveler</h2> 
            <p>Travelers aren't satisfied with an 8 hour workday sitting in front of a computer screen.  They seek to make each workday a novel experience, living life to the fullest.  Travellers don't merely tolerate work-related travel, they thrive in it.  They are well suited to roles that require frequent travel.</p>
            </div>
        </div> 
        <div class="row row-col-2">
                <div class = "col-4">
                    <h2 class="result-title">Suitable career: </h2>
                    <h2>Traveling Salesman </h2>
                    <img class ="career-image" src ="http://localhost:3000/public/pictures/ts.PNG" alt = "Traveller img">
                </div>
                <div class = "col-8">
                    <p> A "Traveling Salesman" or an Outside sales representative is the perfect career for someone who likes to travel to different places and meet new people. Outside sales representatives are responsible for a range of different tasks depending on the company and industry they work in. In most cases, this position largely consists of servicing areas to sell a company product or to make calls of the same. Career progression for outside sales representatives varies depending on the industry and the size of the company. Advancements include extensive reach from regional to international sales with the potential to travel frequently.
                        Generally, an outside sales representatives only need to have a high school diploma or equivalent. Where the product being solid is specialized such as those in the technical, medical or scientific field, a bachelor's degree is required. Due to the nature of the work, strong social and communication skills are a must followed by a strong desire for experience as a sales representative.</p>
                </div>
        </div>
        <br />
        <br /> 
        <div class="row row-col-2">
                <div class = "col-4">
                    <h2>Apply Now</h2>      
                </div>
                <div class = "col-8">
                    <a href ="https://www.indeed.com/jobs?q=traveling+Salesman&l=">Indeed</a> 
                    <br />
                    <a href = "https://www.monster.com/jobs/search/?q=traveling-Salesman&intcid=skr_navigation_nhpso_searchMain">Monster</a>
                    <br />
                    <a href = "https://www.linkedin.com/jobs/traveling-Salesman-jobs"/>LinkedIn</a>
                </div>
        </div>
    </div>
</div>